*.swp
keys/*
bin/*
**/spec/*
!/modules/
!/modules/*
/modules/*/*
!/modules/*/manifests
!/modules/*/lib
!/modules/*/templates
!/modules/*/files
!/modules/*/tasks
!/modules/*/facts.d
!/modules/*/locales
!/modules/*/functions
!/modules/*/data
!/modules/*/hieradata
!/modules/*/metadata.json
!/modules/*/hiera.yaml
